node_modules
dist
.next
.env
.env.local
*.log
.DS_Store
coverage
.idea
.vscode

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
apps/api/prisma/seed.js
apps/api/prisma/seed.js.map
apps/api/prisma/seed.d.ts

# Build outputs
*.tsbuildinfo
